* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    position: relative;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #275d8c;
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

/* Media Overrides */
@media screen and (max-width: 791px) {
    .title, .subnote {
        text-align: center;
    }
}
